html {
    font-family: "Lato";
}
#topbar {
    padding: 10px;
    padding-top: 16px;
    height: 3vh;
    background-color: navajowhite;
    margin: 10px;
    border-radius: 12px;
}
#topbar a {
    padding: 10px;
    background-color: white;
    color: navajowhite;
    font-weight: bolder;
    border-radius: 8px;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#levels-misc {
    display: flex;
    flex-direction: row;
}
#levels-container {
    display: flex;
    flex-direction: column;
    
}
#level-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    padding-right: 20px;
    margin-right: 10px;
    background-color: whitesmoke;
    border-radius: 30px;
}
#level-selector a {
    color: black;
    text-decoration: none;
}
.highlighted {
    padding: 8px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
}
.level {
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 20px;
}
#selection {
    display: none;
    position: absolute;
    transform: translate(100px, 50px);
    background: darkblue;
    color: white;
    padding: 14px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
#selection a {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 5px;
    background-color: white;
    color: darkblue;
    font-weight: bolder;
}
#submitrecord {
    margin-right: 8px;
}
